/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

.container {
    width: 85%;
    margin: 0 auto;
}

/* Header Styles */
header {
    background: linear-gradient(135deg, #003366, #0066cc); /* Gradient for a fancy feel */
    padding: 40px 0;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}



/* Banner styles */
.banner {
  	width: auto;
    height: auto;
    overflow: hidden;
    position: relative;            
    top: 0; /* Ensures it stays at the top */
}

.banner-image {
	width: 100%;
    height: auto;
    display: block;            
}



nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f2f2f2;
}
    
li a:hover:not(.active) {
	background-color: #ff6600; /* Darker orange background on hover for not active nav buttons */
}

.active {
	background-color: #FAA622; /* Light orange background for active nav button */
}

/* Hero Section */
.hero {
    background: linear-gradient(135deg, rgba(0, 102, 204, 0.8), rgba(0, 153, 255, 0.8)); /* Light Blue gradient */
    color: #ffffff;
    padding: 80px 0;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.hero h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hero p {
    font-size: 1.2rem;
    margin: 20px 0;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.cta-button {
    background-color: #FAA622; /* Light orange background for normal state */
    color: #ffffff; 
    padding: 15px 30px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0 8px 15px rgba(0, 102, 204, 0.4);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ff6600; /* Darker orange on hover */
    transform: translateY(-5px);
}

/* Services Section */
.services {
    background-color: #ffffff;
    padding: 60px 0;
    text-align: center;
}

.services h3 {
    font-size: 2.5rem;
    color: #003366;
    margin-bottom: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.service-item {
    background-color: #f9f9f9;
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.service-item h4 {
    font-size: 1.7rem;
    color: #0066cc;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.service-item p {
    font-size: 1.1rem;
    color: #666;
}

/* Footer Styles */
footer {
    background: linear-gradient(135deg, #003366, #0066cc); /* Gradient for a fancy feel */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 1rem;
}

/* Styling for the social media buttons */
.social-buttons {
     display: flex;
     justify-content: center; /* Center the buttons horizontally */
     gap: 20px; /* Space between the buttons */
     margin-top: 8px;
}
.social-button {
     background-color: #FAA622;
     color: white;
     padding: 10px;
     border-radius: 50%;
     text-align: center;
     font-size: 1rem;
     transition: background-color 0.3s;
     text-decoration: none;
}
.social-button:hover {
     background-color: #ff6600; /* Darker orange on hover */
}
/* End Styling for the social media buttons */

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .hero h2 {
        font-size: 2.5rem;
    }

    .cta-button {
        padding: 12px 25px;
        font-size: 1rem;
    }

    .services {
        padding: 40px 0;
    }

    .service-item {
        margin: 10px;
        padding: 20px;
    }
}